*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* 1rem == 10px */
}

:root{
    --cor1: #fff;
    --cor2: rgb(9, 9, 157); 
    --cor3: rgb(6, 6, 81); 
    --cor4: #000;
    --cor5: #888;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Akaya Telivigala";
    color: var(--cor1);
    background-color: var(--cor3);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 5rem;
}

.teclas-container{
    max-width: 40rem;
    width: 100%;
    max-height: 40rem;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tecla{
    width: calc(0.28*100%);
    border: 2px solid var(--cor5);
    height: calc(0.28*100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

.sequencia input{
    max-width: 40rem;
    width: 100vw;
    padding: 0.5rem 1rem;
}

.botao{
    max-width: 40rem;
    width: 100vw;
    background-color: var(--cor5);
    padding: 1rem;
    margin-top: 1.5rem;
    font-size: 2.4rem;
    text-align: center;
    cursor: pointer;
}